<p id="notice"><%= notice %></p>

<h1>To Dos</h1>

<h5>Listado:</h5>
  <% @todos.each do |todo| %>
  <div class="row">

        <div class="well col-md-8"><%= todo.todo %></div>
        <button class="btn btn-success btn-xs"><%= link_to 'Show', todo %></button> 
        <button class="btn btn-info btn-xs"><%= link_to 'Edit', edit_todo_path(todo) %></button>
        <button class="btn btn-warning btn-xs"><%= link_to 'Destroy', todo, method: :delete, data: { confirm: '¿Estás seguro de eliminar esta tarea?' } %></button>

        <%= check_box_tag(:completed) %>
        <%= label_tag(:completed, "Tarea Completada") %>

  </div>      
  <% end %>
  
